$rosa: #F7C9F3;
$azul: #110038;
$azul-claro:#4180F6;
$azul-opaco:#284F99;
$negro:#000000;
$blanco: #FFFFFF;
$gris: #B4B4B4;
$gris-intermedio: #808080;
$gris-oscuro: #979797;
$color-fondo: #E6E6E6;
$morado: #4C2F99;
$family-letra: 'Chakra Petch';
$size16: 16px;
$size14:14px;
$header-sombra: inset -1px -1px 0 0 #997D97,
inset 1px 1px 0 0 #FFFFFF;
$border-header:1px solid #110038;
$buscador-sombra:inset -2px -2px 0 0 #B4B4B4,
inset 2px 2px 0 0 #FFFFFF;
$gradiente-buscador:linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);